package httphandler

import (
	"net/http"
	"strings"

	swaggerFiles "github.com/swaggo/files/v2"
	"github.com/swaggo/swag"
	"go-boilerplate/pkg/json"
)

func swaggerHandler() http.Handler {
	files := http.StripPrefix("/swagger/", http.FileServer(http.FS(swaggerFiles.FS)))
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		switch strings.TrimPrefix(r.URL.Path, "/swagger") {
		case "", "/":
			http.Redirect(w, r, "/swagger/index.html", http.StatusMovedPermanently)
		case "/doc.json":
			doc, err := swag.ReadDoc()
			if err != nil {
				http.Error(w, "Internal Server Error", http.StatusInternalServerError)
				return
			}
			w.Header().Set("Content-Type", "application/json")
			_, _ = w.Write([]byte(doc))
		case "/index.html":
			w.Header().Set("Content-Type", "text/html; charset=utf-8")
			_, _ = w.Write([]byte(`<!doctype html><html><head><title>Swagger UI</title><link rel="stylesheet" href="./swagger-ui.css"></head><body><div id="swagger-ui"></div><script src="./swagger-ui-bundle.js"></script><script>SwaggerUIBundle({url:"./doc.json",dom_id:"#swagger-ui"})</script></body></html>`))
		default:
			files.ServeHTTP(w, r)
		}
	})
}
func healthError(w http.ResponseWriter, _ *http.Request, err error) {
	w.Header().Set("Content-Type", "application/json")
	w.WriteHeader(http.StatusServiceUnavailable)
	data, _ := json.Marshal(map[string]string{"status": "unhealthy", "error": err.Error()})
	_, _ = w.Write(data)
}
