package translation

import (
	"github.com/gin-gonic/gin"
	translationdto "go-boilerplate/internal/dto/translation"
	v1 "go-boilerplate/internal/handlers/http/v1"
	"go-boilerplate/pkg/request"
	"go-boilerplate/pkg/response"
)

// Translate godoc
// @Summary     Translate
// @Description Translate a text
// @ID          do-translate
// @Tags  	    translation
// @Accept      json
// @Produce     json
// @Param       request body translationdto.TranslateRequest true "Set up translation"
// @Success     200 {object} response.Response[translationdto.TranslationResponse]
// @Failure     400 {object} response.ErrorResponse
// @Failure     500 {object} response.ErrorResponse
// @Router      /translation/do-translate [post]
func (h *Handler) Translate(c *gin.Context) {
	w, r :=
		c.Writer, c.Request

	var req translationdto.TranslateRequest

	if err := request.Body(r, &req); err != nil {
		h.l.Error(err, "handlers - http - v1 - translation - Translate")
		response.BadRequest(w, r, "INVALID_JSON", "Invalid request body")
		return
	}

	if err := h.v.Struct(req); err != nil {
		response.ValidationError(w, r, v1.ParseValidationErrors(err))
		return
	}

	result, err := h.translationUC.Translate(r.Context(), req)
	if err != nil {
		h.l.Error(err, "handlers - http - v1 - translation - Translate")
		response.InternalError(w, r)
		return
	}

	response.OK(w, r, result)
}
